// Variables
$primaryColor : #000;
$textColor : #fff;
// Variables


/* Table Styles */
// 
// 

table {

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;

    th {
        background-color: $primaryColor;
        color: $textColor;
        width: 10%;
        padding: 10px;
        cursor: pointer;
    }
    
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dcdbdb;
    }
    tr:hover {
        background-color: rgb(176, 176, 176);
    }
    
}
// 
// 
/* Table Styles */




/* Scroller Styles */
// 
// 
/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primaryColor; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: $primaryColor; 
        
    /* Handle on hover */
    &:hover {
        background: $primaryColor; 
    }
}

// /* Button */
//     ::-webkit-scrollbar-button {
//     background: $primaryColor;
//     height: 38px;
// }
// 
// 
/* Scroller Styles */



/* Upper Table Styles */
// 
// 
.upper__table {
    width: 60%;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;

    .search_row {
        height: 37px;
    }

    .search__cell {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 1;
    }

    input {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        outline: none;
        border: none;
    }
}
// 
// 
/* Upper Table Styles */



/* Lower Table Styles */
// 
// 
.lower__table {
    width: 60%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}
// 
// 
/* Lower Table Styles */



/* Button Styles */
// 
// 
button {
    cursor: pointer;
    border: 2px solid $primaryColor;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 16px;
    color: $primaryColor;
    margin-top: 20px;

    &:hover {
        background: $primaryColor;
        color: white;
    }
}
// 
// 
/* Button Styles */